name: ci-cd

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      
      - name: Install Dependencies
        run: |
          cd apiserver
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Unit Tests
        run: |
          cd apiserver
          chmod +x ./cmd.sh && chmod +x ./test/run_tests.sh
          ./test/run_tests.sh